<%- include("header") -%>
<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">
    <% newListItems.forEach(function(item) { %>
        <div class="item">
            <input type="checkbox">
            <span><%= item.content %> </span>
            <form action="/delete" method="post">
                <button type="submit" value="<%= item._id %>" name="deleteItem" class="deleteItemBtn">x</button>
            </form>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    <% }) %>

    <form class="item" action="/" method="post">
        <input type="text" name="newTask" placeholder="New item" autofocus autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>" class="addBtn">+</button>
    </form>
</div>

<%- include("footer") -%>