<%- include("header") -%>
<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">
    <% newListItems.forEach(function(item) { %>
    <div class="item">
        <input type="checkbox">
        <span><%= item.content %> </span>
        <button class="deleteItemBtn">x</button>
    </div>
    <% }) %>

    <form class="item" action="/" method="post">
        <input type="text" name="newTask" placeholder="New item" autofocus autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>" class="addBtn">+</button>
    </form>
</div>

<%- include("footer") -%>